spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://localhost:3306/strapi?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  data:
    redis:
      password:
      port: 6379
      host: localhost
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 1000ms
mybatis:
  configuration:
    map-underscore-to-camel-case:   true
strapi:
  base-url: http://localhost:1337
  api-token: 0dc05c8baca8b7abfb19326e2ad6b0a1d2ba199b6ef8d9fe464e78d094f33eeaf8a4f4ca4da65ceea90aec65250521aeace3a23d2358bf5a3a9a8cb27c91f6e542b24c96acd5a9f38a6d65b9247e0d343ac3241f2a0e3ec208330cc4d7b00fd8db0052bcd68542d57a5092dc937f236cf2e4ae1aa9e918c6496f0c5d89e86dab

easyscholar:
  base-url: https://www.easyscholar.cc/open/getPublicationRank
  secret-key: ${EASYSCHOLAR_SECRET_KEY:}
