spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://localhost:3306/strapi?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: Wjh0921@
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  data:
    redis:
      password:
      port: 6379
      host: localhost
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 1000ms
mybatis:
  configuration:
    map-underscore-to-camel-case: true
strapi:
  base-url: http://[::1]:1337
  api-token: cd76e7283413e17d3d9f7b2f6d0ce687c41d1b58e713f79f622831fd7b66f61f391d5c90499f3a204d5893cc1b9322b3d8eae39b4d444f0f221853abc7f15326b03303777a791c62cb1171de26d5fc6b9a6155836f3d623ef08fea2da6939a9748f35d6966505891c73e9cb68ac93f3bab1cc57e590f30c4e249f6212570b823

easyscholar:
  base-url: https://www.easyscholar.cc/open/getPublicationRank
  secret-key: ${EASYSCHOLAR_SECRET_KEY:}
