spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://localhost:3306/strapi?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  data:
    redis:
      password:
      port: 6379
      host: localhost
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 1000ms
mybatis:
  configuration:
    map-underscore-to-camel-case:   true
strapi:
  base-url: http://localhost:1337
  api-token: 140fb444f1c680dea24a3d139cd6a850832f2bca4952365342bdb3668d3730ac6dc08def580fe42016af28db25c18a73c8c39cfeef6abb5f6d26da332d25e72c53eaf2ec8cf594d92d38c4ffe39e6407968d3fe3197eb72a4a38e8b00e60ad7b3bf702eb1dffd05129fae21d00395f0f39aed46620cf9904e05a09e9441ba70e

easyscholar:
  base-url: https://www.easyscholar.cc/open/getPublicationRank
  secret-key: ${EASYSCHOLAR_SECRET_KEY:}
